html,body {
  max-width: 100%;
}

body {
  text-align: center;
  color: #fff;
  font-family: ‘Times New Roman’,Times,serif;
}

#slider {
  list-style: none;
  height: 100%;
  min-width: 800px;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#top {
  position: absolute;
  top: 0;
}

#main-wrapper {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
}

img {
  border: 1px solid #fff;
/*to prevent horizontal scroll*/
  max-width: 100%;
}

#job-title {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Impact,Charcoal,sans-serif;
  font-size: 50px;
  font-weight: 100;
}

#job-summary {
  font-size: 30px;
  font-style: italic;
}

#wrapper-projects {
/*padding-top: 90px;*/
  background-color: #fff;
}

#project-heading {
  background-color: #4682b4;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project {
  color: #000;
/*to prevent horizontal scroll*/
  max-width: 100%;
}

.project-summary {
  margin-top: 60px;
  font-size: 20px;
  text-align: left;
  padding: 15px;
}

/*skills*/
#wrapper-skills {
  background: #000;
  background: rgba(0,0,0,0.5);
  height: 700px;
}

#skills-summary {
  margin-top: 200px;
}

.hub {
  z-index: 2;
  transform: scale(1.1,1.1);
  -webkit-box-shadow: 1px 1px 14px 6px rgba(255,255,255,.5);
  -moz-box-shadow: 1px 1px 14px 6px rgba(255,255,255,.5);
  box-shadow: 1px 1px 14px 6px rgba(255,255,255,.5);
}

div[id$='circle'] {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 100px;
  margin-bottom: 100px;
}

.el {
  transition: transform 2s;
}

/*about*/
#wrapper-about {
  background: #000;
  background: rgba(0,0,0,0.5);
}

#hb-img {
  margin-bottom: -90px;
}

#about-summary {
  background: #fff;
  padding-top: 90px;
  color: #000;
  font-size: 20px;
}

.about-sub-heading {
  margin: auto;
  color: #4682b4;
  width: 220px;
  line-height: 2.5;
  border-left: 1px dashed rgba(0,0,0,0.1);
  border-right: 1px dashed rgba(0,0,0,0.1);
  background: -webkit-gradient(linear,555% 20%,0% 92%,from(rgba(0,0,0,0.1)),to(rgba(0,0,0,0.0)),color-stop(.1,rgba(0,0,0,0.2)));
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.2);
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.about-sub-heading-content {
  padding: 40px;
  font-size: 18px;
  width: 280px;
  margin: auto;
}

/*contact*/
#contact-heading {
  background-color: #fff;
}

#mailbox {
  padding: 0;
  margin: auto;
}

#contact-right {
  line-height: 3;
  font-size: 20px;
  margin-top: 95px;
}

#contact-right>a>i {
  font-size: 20px;
}

#contact-right .btn {
  width: 210px;
  padding: 10px;
  color: #4682b4;
  background-color: #fff;
}

#contact-right .btn:hover {
  color: #fff;
  background-color: #4682b4;
}

/*footer*/
#wrapper-footer {
  background-color: #fff;
  color: #4682b4;
}

#socialLinks {
  font-size: 30px;
}

#copyrights {
  font-size: 16px;
}

/*menubar*/
#menubar {
  margin: auto;
/*set margin auto prior to positioning in the center..setting height is also mandatory*/
  position: fixed;
  top: 0;
  bottom: 0;
/*left:-40px;*/
  left: -80px;
  height: 210px;
  font-size: 26px;
  background: #000;
  background: rgba(0,0,0,0.8);
  transition: left 1s;
  border-radius: 0 10px 10px 0;
}

#menubar>ul {
  list-style: none;
  margin: 0;
}

#menubar>ul>li {
  border-bottom: 1px solid #4682b4;
  padding: 2px 8px 2px 4px;
}

#menubar>ul>li:last-child {
  border: none;
}

#menubar>ul>li>a {
  color: #fff;
}

#menubar>ul>li>a:hover {
  color: #add8e6;
}

#menubar>ul>li>a:focus {
  outline: none;
}

#menubar-slider {
  margin: auto;
/*set margin auto prior to positioning in the center*/
  position: fixed;
  top: 0;
  bottom: 0;
/*left:40px;*/
  left: 10px;
  height: 35px;
  font-size: 25px;
  transition: left 1s;
}

#menubar-slider>a {
  color: #000;
  color: rgba(0,0,0,0.8);
}

#menubar-slider>a:hover {
  cursor: pointer;
  color: #8b0000;
}

/*scroll*/
.arrows {
  width: 60px;
  height: 80px;
  margin-top: 100px;
  margin-bottom: 30px;
/*position: absolute;
	left: 50%;
	bottom: 20px;
	margin-left: -30px;
	*/
}

.arrows path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 1.3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
  -moz-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/*Safari and Chrome*/
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
/* Safari ? Chrome */
}

.arrows path.a2 {
  animation-delay: -.5s;
  -webkit-animation-delay: -.5s;
  -moz-animation-delay: -.5s;
/* Safari ? Chrome */
}

.arrows path.a3 {
  animation-delay: 0;
  -webkit-animation-delay: 0;
/* Safari ? Chrome */
}
